* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  width: 1200px;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(134, 70, 252, 1) 100%
  );
}

.grid-layout {
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header"
    "main main"
    "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: 60px 600px 1fr auto;
  height: 100vh;
  gap: 10px;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.klook.com/image/upload/fl_lossy.progressive,q_85/c_fill,w_680/fl_lossy.progressive,q_85/c_fill,w_680/fl_lossy.progressive/q_auto/f_auto/c_fill/blogen/shutterstock_343027613.jpg");
  background-size: cover;
}

h1 {
  align-items: center;
  text-align: left;
  font-size: 3rem;
}

nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(8, 2, 76);
}

.btn {
  width: 100px;
  padding: 2px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background: yellow;
  color: black;
}

main {
  grid-area: main;
  background: #3f5efb;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  color: rgb(220, 245, 0);
}

.gallery {
  border: 1px solid rgb(16, 46, 136);
}

.gallery img {
  height: 15rem;
  border-radius: 5px;
  margin: 10px;
}

footer {
  grid-area: footer;
  font-size: 20px;
}

@media (max-width: 768px) {
  .grid-layout {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
    grid-template-columns: 1fr;
  }
}
