/* Example 1 */
/* header {
  background: blueviolet;
  height: 100px;
}

h1 {
  text-align: center;
  color: aliceblue;
  line-height: 100px;
  margin: 0;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  zoom: 0.8;
}

article {
  flex: 1;
  padding: 10px;
  margin: 10px;
  background: aqua;
}

article:nth-of-type(3) {
  flex-grow: 3;
} */
