* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.window {
  width: 400px;
  border-radius: 5px;
  border: 0px;
  box-shadow: 2px 2px 2px rgb(209, 206, 206);
}

.title {
  color: white;
  height: 24px;
  padding: 3px;
  padding-left: 10px;
  background: linear-gradient(to right, rgb(7, 101, 183), rgb(119, 165, 222));
}

.content {
  display: flex;
  padding: 5px;
  padding-left: 5px;
  justify-content: space-around;
  align-items: center;
}

img {
  border-radius: 70px;
  box-shadow: 4px 4px 4px;
}
.button {
  display: flex;
  padding: 10px;
  justify-content: right;
}

.btn {
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  box-shadow: 1px 1px 1px;
}
