* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.window {
  width: 400px;
  box-shadow: 5px 5px 5px;
}

.title {
  color: white;
  height: 24px;
  padding: 3px;
  padding-left: 10px;
  background: linear-gradient(to right, rgb(7, 101, 183), rgb(119, 165, 222));
}

.content {
  display: flex;
  padding: 5px;
  padding-left: 5px;
  justify-content: space-around;
  align-items: center;
}

img {
  border-radius: 70px;
  box-shadow: 5px 5px 5px;
}
.button {
  display: flex;
  padding: 10px;
  justify-content: right;
}

.btn {
  padding: 3px;
  margin: 10px;
  box-shadow: 1px 1px 1px;
}

@media (max-width: 600px) {
  p {
    color: aqua;
    background-color: black;
  }
  .paragraphClass {
    color: blueviolet;
  }
}
